<header class="topbar-container">

  <div class="logo">
    <img src="assets/Logo.png" class="logo"/>
  </div>

  <div class="topbar-actions">

    <div class="current-date">
      October 26, 2024 | 10:30 AM
    </div>

    <div class="actions-group">
      <button class="icon-btn notification-btn">
        <span class="material-symbols-outlined">notifications</span>
      </button>

      <div class="user-avatar-small"
           role="img"
           aria-label="User profile picture"
           style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBwqIGtOWOnFrJqp3CqvZpNT4UXoiw80UoCEOOZwIX9a7H0L0Vsaq9tQ8bil-yUTzfk_CoSDDdYXz6woongwO9D94QiKnugVhjtlBdzq8FhvdK5H19Gm5QeoknrgGIMU0PZ0_xeJnpk-2mFYHL69y-shVOm2f8q3DV7mi4OeGnK-dRXdPiB-2ZHzGFk5E1n-FcxlecFuJvBXMg9_v1CjgsoaoyaXShetVeqDMfGBRrou_kJ0-PnYHnziO1yyUs-cYHSBzdfvjgVz_k");'>
      </div>
    </div>

  </div>

</header>
