<header class="topbar-container">

  <div class="logo">
    <img src="assets/Logo.png" class="logo"/>
  </div>

  <div class="topbar-actions">

    <div class="current-date">
      {{ currentDate | date:'MMMM d, y' }} | {{ currentDate | date:'shortTime' }}
    </div>

    <div class="actions-group">
      <div class="notification-wrapper">

        <button class="icon-btn notification-btn" (click)="toggleNotifications()">
          <span class="material-symbols-outlined">notifications</span>
        </button>

        <div class="notification-popup" [class.active]="showNotifications">
          <div class="popup-header">
            <span>Notifications</span>
          </div>

          <div class="popup-list">
            @for (notification of notifications; track $index) {

              <div class="popup-item" [class.unread]="notification.status === 'unread'">
                <div class="item-text">
                  <p class="title">{{ notification.message }}</p>
                  <p class="time">{{ notification.info }}</p>
                </div>
              </div>

            }

          </div>
        </div>

      </div>

      <div class="user-avatar-small"
           role="img"
           aria-label="User profile picture"
           [style.background-image]="'url(' + user.avatar + ')'">
      </div>
    </div>

  </div>

</header>
