<div class="patients-container">

  <div class="page-header">
    <h1 class="page-title">Manage Patients</h1>
    <p class="page-subtitle">View and manage patient records.</p>
  </div>

  <div class="patients-content-grid">

    <div class="card patient-search-card">
      <h2 class="card-title">Recent Patients</h2>

      <div class="input-with-icon search-bar">
        <span class="material-symbols-outlined icon">search</span>
        <input class="form-input" placeholder="Search for a patient..." type="text" [(ngModel)]="searchText"
               (input)="onSearch()"/>
      </div>

      <div class="patient-list-wrapper">
        <table class="patient-table">
          <thead>
          <tr>
            <th>Patient Name</th>
            <th>DOB</th>
            <th>Condition</th>
            <th>Last Visit</th>
            <th class="text-right">Actions</th>
          </tr>
          </thead>
          <tbody>
          @for (patient of patients; track $index) {
            <tr class="table-row-hover">
              <td>
                <div class="patient-info-cell">
                  <p class="patient-name">{{ patient.name }}</p>
                </div>
              </td>
              <td class="text-secondary">{{ patient.dateOfBirth }}</td>
              <td>{{patient.condition}}</td>
              <td class="text-secondary">{{patient.lastVisit}}</td>
              <td class="text-right">
                <button class="button-view">View Prescription</button>
              </td>
            </tr>
          }
          @if (patients.length == 0) {
            <tr>
              <td colspan="5" class="text-center text-secondary">No patients found.</td>
            </tr>
          }
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
