<aside class="sidebar-container">
  <div class="sidebar-top">
    <nav class="nav-links">
      <a
        class="nav-link"
        routerLink="/doctors/dashboard"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <span class="material-symbols-outlined">dashboard</span>
        <p class="text-sm font-medium">Dashboard</p>
      </a>
      <a
        class="nav-link"
        routerLink="/doctors/patients"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <span class="material-symbols-outlined">group</span>
        <p class="text-sm font-medium">Patients</p>
      </a>
      <a
        class="nav-link"
        routerLink="/doctors/prescriptions"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <span class="material-symbols-outlined">medication</span>
        <p class="text-sm font-medium">Prescriptions</p>
      </a>
      <a
        class="nav-link"
        routerLink="/doctors/reservations"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <span class="material-symbols-outlined">book_online</span>
        <p class="text-sm font-medium">Reservations</p>
      </a>
      <a
        class="nav-link"
        routerLink="/doctors/er"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <span class="material-symbols-outlined">emergency</span>
        <p class="text-sm font-medium">ER</p>
      </a>
      <a
        class="nav-link"
        routerLink="/doctors/settings"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <span class="material-symbols-outlined">settings</span>
        <p class="text-sm font-medium">Settings</p>
      </a>
    </nav>
  </div>

  <button class="logout-button"
          routerLink="/auth/SignIn"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
    <span class="material-symbols-outlined">logout</span>
    <span>Logout</span>
  </button>

</aside>
