<div class="profile">
  <div class="notification-banner" [class.show]="showNotificationSettings">
    <div class="notification-content">
      <span class="material-symbols-outlined notification-icon">check_circle</span>
      <div class="notification-text">
        <p class="notification-title">Success</p>
        <p class="notification-desc">Settings saved successfully!</p>
      </div>
      <button class="close-btn" (click)="showNotificationSettings = false">
        <span class="material-symbols-outlined">close</span>
      </button>
    </div>
  </div>
  <div class="notification-banner" [class.show]="showNotificationPassword">
    <div class="notification-content">
      <span class="material-symbols-outlined notification-icon">check_circle</span>
      <div class="notification-text">
        <p class="notification-title">Success</p>
        <p class="notification-desc">Password updated successfully!</p>
      </div>
      <button class="close-btn" (click)="showNotificationPassword = false">
        <span class="material-symbols-outlined">close</span>
      </button>
    </div>
  </div>
  <div class="header">
    <h2>Profile</h2>
    <p>Manage your personal information, address, and emergency contact.</p>
  </div>
  <div class="personal-info">
    <h3>Personal Information</h3>
    <div class="info-items">
      <div class="info-item">
        <label for="fullName">Full Name:</label>
        <input type="text" id="fullName" name="fullName" placeholder="{{user.name}}">
      </div>
      <div class="info-item">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="{{user.email}}">
      </div>
      <div class="info-item">
        <label for="phone">Phone Number:</label>
        <input type="tel" id="phone" name="phone" placeholder="{{user.phone}}">
      </div>
      <div class="info-item">
        <label for="dob">Date of Birth:</label>
        <input type="text" id="dob" name="dob" placeholder="{{user.dob}}">
      </div>
      <div class="info-item">
        <label for="address">Address:</label>
        <input type="text" id="address" name="address" placeholder="{{user.address}}">
      </div>
    </div>
  </div>

  <div class="emergency-contact">
    <h3>Emergency Contact</h3>
    <div class="info-items">
      <div class="info-item">
        <label for="emergencyName">Contact Name:</label>
        <input type="text" id="emergencyName" name="emergencyName" placeholder="{{user.con_name}}">
      </div>
      <div class="info-item">
        <label for="relationship">Relationship:</label>
        <input type="text" id="relationship" name="relationship" placeholder="{{user.con_relation}}">
      </div>
      <div class="info-item">
        <label for="emergencyPhone">Contact Phone:</label>
        <input type="tel" id="emergencyPhone" name="emergencyPhone" placeholder="{{user.con_phone}}">
      </div>
    </div>
  </div>
  <div class="buttons">
    <button class="cancel-button">Cancel</button>
    <button class="save-button" (click)="saveSettings()">Save Changes</button>
  </div>
</div>

<div class="security">
  <div class="header">
    <h2>Security</h2>
    <p>Update your password.</p>
  </div>
  <div class="password-update">
    <div class="info-item">
      <label for="currentPassword">Current Password:</label>
      <input type="password" id="currentPassword" name="currentPassword" placeholder="Enter current password">
    </div>
    <div class="info-item">
      <label for="newPassword">New Password:</label>
      <input type="password" id="newPassword" name="newPassword" placeholder="Enter new password">
    </div>
    <div class="info-item">
      <label for="confirmPassword">Confirm New Password:</label>
      <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm new password">
    </div>
  </div>
  <div class="buttons">
    <button class="cancel-button">Cancel</button>
    <button class="save-button" (click)="savePassword()">Update Password</button>
  </div>
</div>
