<main class="dashboard-container">

  <div class="dashboard-grid-top">

    <div class="main-card-wrapper">
      <div class="card main-card">
        <div class="main-card-content">
          <div class="main-card-header">
            <div>
              <p class="main-card-title">Today's Overview</p>
              <p class="main-card-subtitle">Reservations and key statistics</p>
            </div>
          </div>

          <div class="reservations-widget-inset">
            <h3 class="widget-title">Today's Reservations</h3>
            <div class="reservation-list-simple">
              @for (reservation of reservations; track $index) {
                <div class="reservation-item-simple">
                  <p class="reservation-name">{{reservation.patientName}}</p>
                  <p class="reservation-time">{{reservation.appointmentTime}} - {{reservation.reason}}</p>
                </div>
              }
            </div>
            @if (reservations.length == 0) {
            <div class="empty-state">
              No reservations for today.
              </div>
            }
          </div>

          <div class="er-stats-grid">
            <div class="er-stat-item pending-stat-item">
              <div>
                <p class="er-stat-label">Pending Reservations</p>
                <p class="er-stat-value">{{ pending_res }}</p>
              </div>
              <a class="button-view" routerLink = "/doctors/reservations">View All</a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="card date-shift-widget">
      <div class="date-widget">
        <p class="date-day">{{ currentDate | date: 'd'}}</p>
        <p class="date-month-year">{{currentDate | date: 'MMMM'}}<br>{{currentDate | date:'y'}}</p>
      </div>
      <div class="shift-widget">
        <h3 class="widget-title">Current Shift</h3>
        <p class="shift-time">{{ shift[0] }} - {{ shift[1] }}</p>
      </div>
      <a class="er-card-button" routerLink = "/doctors/er">
        <span class="material-symbols-outlined">emergency</span>
        <span>Go to ER</span>
      </a>
      <div class="er-stats-grid-inset">
        <div class="er-stat-item">
          <p class="er-stat-label">ER Occupancy</p>
          <p class="er-stat-value">{{ er_occ }}%</p>
        </div>
        <div class="er-stat-item">
          <div class="er-stat-label-critical">
            <p>Critical Cases</p>
            <span class="ping-container">
              <span class="ping-animation"></span>
              <span class="ping-dot"></span>
            </span>
          </div>
          <p class="er-stat-value">{{ bedStats?.occupiedBeds }}</p>
        </div>
      </div>
    </div>

  </div>

  <div class="dashboard-grid-bottom">

    <div class="card patient-queue-card">

      <div class="patient-queue-header">
        <h3>Recent Patients</h3>
      </div>

      <div class="prescription-list">

        @for (patient of patients; track $index) {
          <div class="prescription-item">
            <div style="width: 100%;">
              <p class="prescription-name">{{ patient.name }}</p>
              <p class="prescription-patient">{{ patient.condition }}</p>
            </div>
          </div>

          <hr class="divider" />
        }

        @if (patients.length == 0) {
          <div class="empty-state">
            No recent patients found.
          </div>
        }
      </div>
    </div>

    <div class="card prescriptions-card">
      <h3>Recent Prescriptions</h3>
      <div class="prescription-list">
        @for (prescription of prescriptions; track $index) {
          <div class="prescription-item">
            <div>
              <p class="prescription-name">{{ prescription.medicationName }} - {{ prescription.dosage }}</p>
              <p class="prescription-patient">{{ prescription.patientName }}</p>
            </div>
            <p class="prescription-date">{{ prescription.prescribedDate }}</p>
          </div>
          <hr class="divider" />
        }

        @if (prescriptions.length == 0) {
          <div class="empty-state">
            No recent prescriptions found.
          </div>
        }
      </div>
    </div>
  </div>

</main>
